numpy
matplotlib
scikit-learn
pandas
seaborn
wget
ipykernel
tqdm

###
torch 
torchvision 
torchaudio
### ^ if you want to run a model training on the GPU - use the flag `--index-url https://download.pytorch.org/whl/cu124`